<!DOCTYPE html>
		<html lang='en'>

		<head>

		  <meta charset='utf-8'>
		  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
		  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=n'>
		  <meta name='description' content=''>
		  <meta name='author' content=''>

		  <title>Mon bot Discord</title>

		  <!-- Custom fonts for this template-->
		  <link href='/public/css/sb-admin-2.css' rel='stylesheet' type='text/css'>
		  <link href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet'>

		  <!-- Custom styles for this template-->
		  <link href='/exo_php/views/css/sb-admin-2.min.css' rel='stylesheet'>

		</head>

<body class='bg-gradient-primary'>
  <div class='container'>
    <!-- Outer Row -->
    <div class='row justify-content-center'>
      <div class='col-xl-10 col-lg-12 col-md-9'>
        <div class='card o-hidden border-0 shadow-lg my-5'>
          <div class='card-body p-0'>
            <!-- Nested Row within Card Body -->
            <div class='row'>
              <div class='col-lg-6 d-none d-lg-block bg-login-image'></div>
              <div class='col-lg-6'>
                <div class='p-5'>
                  <div class='text-center'>
                    <h1 class='h4 text-gray-900 mb-4'>Gestion de mon bot Discord</h1>
                    </br>
                    </br>
                  </div>
                  <form class='user' method='POST' action='/submit-connection'>
                    <div class='form-group'>
                      <input type='text' class='form-control form-control-user' name='token' id='token' aria-describedby='emailHelp' placeholder='Token de connection ...'>
                    </div>
                      <input type='submit' value='Connexion' class='btn btn-primary btn-user btn-block'/>
                  </form>
                  <hr>
                  <div class='text-center'>
                    </br>
                    <a class='small' href='https://discordapp.com/api/oauth2/authorize?client_id=588343846971113492&permissions=0&scope=bot'>Ajouter le bot à mon serveur</a>
                    </br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src='/public/vendor/jquery/jquery.min.js'></script>
  <script src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js'></script>

  <!-- Core plugin JavaScript-->
  <script src='/public/jquery-easing/jquery.easing.min.js'></script>

  <!-- Custom scripts for all pages-->
  <script src='/public/js/sb-admin-2.min.js'></script>

</body>

</html>